.author-wrapper {
  position: relative;
  height: 66vh;
  margin-bottom: 0.15rem;
  background: #fff;
  text-align: center;
  img {
    width: 2.7rem;
    height: 2.7rem;
    margin-top: 28%;
    border-radius: 50%;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 0.27rem;
  }
}
.desc {
  padding: 0.1rem;
  background: #fff;
  margin-bottom: 0.15rem;
  text-align: center;
  .title {
    margin-bottom: 0.1rem;
    font-size: 0.15rem;
  }
  .link {
    text-decoration: none;
    color: #b4282d;
  }
}
